@model HospitalJuancho.Models.Ingresos

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Estas seguro que desea Borrar?</h3>
<div>
    <h4>Ingresos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Habitacion.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habitacion.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Ingreso)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Atras", "Index")
        </div>
    }
</div>
