@model HospitalJuancho.Models.Ingresos

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Ingresos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Habitacion.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habitacion.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Ingreso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_Ingresos }) |
    @Html.ActionLink("Atras", "Index")
</p>
