@model IEnumerable<HospitalJuancho.Models.Altas>

@{
    ViewBag.Title = "Index";
}

<h2>Altas Medicas</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ingresos.Fecha_Ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Paciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Salida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Habitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ingresos.Fecha_Ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Paciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Salida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td class="btn btn-primary myBtn">
            @Html.ActionLink("Editar", "Edit", new { id = item.ID_ALtas})
        </td>
        <td class="btn btn-danger myBtn">
            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_ALtas })
        </td>
        <td class="btn btn-success myBtn">
            @Html.ActionLink("Detalles", "Details", new { id = item.ID_ALtas })
        </td>
    </tr>
}

</table>
